{% spaceless %}
    <h1 data-content="title">Регистрация на сайте web-pedagogi.ru</h1>
    <h2 data-content="subtitle">Уважаемый пользователь! Вы успешно создали учетную запись на сайте web-pedagogi.ru</h2>
    <div data-content="message">
        <h3 data-content="subdata">Для того, чтобы войти и продолжить работать на сайте, пройдите по следующей ссылке</h3>        
        <h3 data-content="subdata"><a href="{{ link }}">{{ link }}</a></h3>
        <h3 data-content="subdata">Ссылка будет действительна в течение {{ minutes }} минут.</h3>
    </div>    
{% endspaceless %}