{% spaceless %}
    <span data-content="title">Подтверждение регистрации</span>
    <span data-content="subtitle">Уважаемый {{ user_name }} </span>
    <div data-content="message">
        <span data-content="subdata">Подтвердите свою регистрацию на сайте web-pedagogi.ru</span>        
        <span data-content="subdata">Если вы не проходили процедуру регистрации, просто проигнорируйте это сообщение</span>
    </div>    
{% endspaceless %}