{% spaceless %}
    <h1>Восстановление входа на сайт web-pedagogi.ru</h1>
    <h2> Уважаемый пользователь!</h2>
    <div data-content="message">
        <h3>Для восстановления доступа к сайту web-pedagogi.ru пройдите по следующей ссылке</h3>        
        <h3><a href="{{ link }}">{{ link }}</a></h3>
        <h3>Ссылка будет действительна в течение {{ minutes }} минут.</h3>
    </div>
{% endspaceless %}