<template>
    <b-container>
        <b-row cols="12">
            <b-col my="5">
                <h1>Журнал</h1>
            </b-col>
        </b-row>
        <b-row cols="12">
            <b-col my="2">
                <b-table
                    striped
                    hover
                    :items="log"
                    :fields="fields"
                    :per-page="perPage"
                    :current-page="currentPage"
                    id="wares"
                >
                    <template #cell(name)="row">
                        {{ row.value }}
                    </template>

                    <template #cell(actions)="row">
                        <b-button
                            size="sm"
                            @click="certDownload(row.item)"
                            class="mr-1"
                            :disabled="!row.item.cert_is_ready"
                        >
                            Скачать сертификат
                        </b-button>
                    </template>
                </b-table>
                <b-pagination
                    v-model="currentPage"
                    :total-rows="rows"
                    :per-page="perPage"
                    aria-controls="wares"
                ></b-pagination>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import { authHeader } from "@/_helpers";
import { mapGetters } from "vuex";
import moment from "moment";
import fileDownload from "@/utils/filedownload";
import axios from "axios";
export default {
    name: "Log",
    components: {},
    computed: {
        ...mapGetters(["user"]),
        log: function() {
            const webinars = this.wares.filter(
                (item) => item.entity.type === "WBNR"
            );
            let result = [];
            webinars.map((webinar) => {
                result.push({
                    "Дата покупки": moment(String(webinar.datetime)).format(
                        "DD.MM.YYYY hh:mm"
                    ),
                    Название: webinar.entity.name,
                    id: webinar.id,
                    Сумма: webinar.price,
                    cert_is_ready: webinar.entity.cert_is_ready,
                });
            });
            return result;
        },
        rows() {
            return this.wares.length;
        },
    },
    data() {
        return {
            fields: [
                { key: "Дата покупки", label: "Дата и время покупки" },
                { key: "Название", label: "Название" },
                { key: "Сумма", label: "Сумма, руб." },
                { key: "actions", label: "Сертификат: " },
            ],
            wares: [],
            authCerts: [],
            perPage: 10,
            currentPage: 1,
            // wares_page_count: null,
            // wares_next: null,
            // wares_previous: null,
        };
    },
    mounted() {
        const requestOptions = {
            method: "GET",
            headers: {
                ...authHeader(),
                "Content-Type": "application/json",
            },
        };

        fetch(`/api/log/wares/`, requestOptions).then((response) => {
            response.json().then((data) => {
                this.wares = data;
                // this.wares_current_page = 1;
                // this.wares_page_count = data.count;
                // this.wares_next = data.next;
                // this.wares_previous = data.previous;
            });
        });
    },    
    methods: {
        makeErrorToast(append = false) {
            this.$bvToast.toast("Ошибка при получении данных", {
                title: "Ошибка",
                autoHideDelay: 5000,
                appendToast: append,
                variant: "danger",
                solid: true,
            });
        },
        certDownload(item) {
            const requestOptions = {
                method: "GET",
                headers: {
                    ...authHeader(),
                    "Content-Type": "application/json",
                },
            };
            axios
                .get(`/api/log/${item.id}/cert/`, {
                    responseType: "blob",
                    headers: requestOptions.headers,
                })
                .then((res) => {
                    fileDownload(res.data, "Сертификат.jpg");
                });
        },
    },
};
</script>

<style></style>
