<template>
    <b-container>
        <b-row cols="12">
            <b-col my="5">
                <h1>Профиль</h1>
            </b-col>
        </b-row>
        <b-row cols="12">
            <b-col my="2">
                <b-form class="ws-user__profile_form">
                    <b-form-group
                        id="input-group-1"
                        label="Фамилия: "
                        label-for="input-1"
                        label-cols-sm="4"
                        content-cols-sm="5"
                        label-align-sm="right"
                    >
                        <b-form-input
                            id="input-1"
                            v-model="user.last_name"
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        id="input-group-2"
                        label="Имя: "
                        label-for="input-2"
                        label-cols-sm="4"
                        content-cols-sm="5"
                        label-align-sm="right"
                    >
                        <b-form-input
                            id="input-2"
                            v-model="user.first_name"
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        id="input-group-3"
                        label="Отчество"
                        label-for="input-3"
                        label-cols-sm="4"
                        content-cols-sm="5"
                        label-align-sm="right"
                    >
                        <b-form-input
                            id="input-3"
                            v-model="user.middle_name"
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        id="input-group-4"
                        label="Организация: "
                        label-for="input-4"
                        label-cols-sm="4"
                        content-cols-sm="5"
                        label-align-sm="right"
                    >
                        <b-form-input
                            id="input-4"
                            v-model="user.organization"
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        id="input-group-5"
                        label="Должность: "
                        label-for="input-5"
                        label-cols-sm="4"
                        content-cols-sm="5"
                        label-align-sm="right"
                    >
                        <b-form-input
                            id="input-5"
                            v-model="user.position"
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        id="input-group-6"
                        label="Город: "
                        label-for="input-6"
                        label-cols-sm="4"
                        content-cols-sm="5"
                        label-align-sm="right"
                    >
                        <b-form-input
                            id="input-6"
                            v-model="user.city"
                        ></b-form-input>
                    </b-form-group>
                    <b-form-group
                        id="input-group-7"
                        label="Телефон: "
                        label-for="input-7"
                        label-cols-sm="4"
                        content-cols-sm="5"
                        label-align-sm="right"
                        :invalid-feedback="'Неверный номер телефона'"
                        :state="phoneIsValid"
                    >
                        <VuePhoneNumberInput
                            v-model="user.tel"
                            :translations="{
                                countrySelectorLabel: 'Код страны',
                                countrySelectorError: 'неверный код',
                                phoneNumberLabel: 'Номер телефона',
                                example: 'Пример :',
                            }"
                            default-country-code="RU"
                            no-flags
                            no-example
                            size="lg"
                            @update="phoneEdit"
                        />
                    </b-form-group>

                    <b-form-group
                        id="input-group-7"
                        label="Почтовый адрес:"
                        label-for="input-7"
                        label-cols-sm="4"
                        content-cols-sm="5"
                        label-align-sm="right"
                    >
                        <b-form-textarea
                            id="input-7"
                            v-model="user.post_address"
                        ></b-form-textarea>
                    </b-form-group>
                </b-form>
            </b-col>
        </b-row>

        <b-row>
            <b-col my="5" mt="5" class="mt-3">
                <b-button
                    type="submit"
                    variant="primary"
                    class="mx-1"
                    @click="update()"
                    :disabled="!agreeWithPolicy || !phoneIsValid"
                    >Обновить</b-button
                >
                <b-button type="reset" variant="danger" class="mx-1"
                    >Удалить кабинет</b-button
                >
            </b-col>
        </b-row>

        <b-row>
            <b-col my="5" class="mt-3">
                <b-form-checkbox
                    id="checkbox-1"
                    v-model="agreeWithPolicy"
                    name="checkbox-1"
                >
                    Принимаю условия
                    <a href="/pages/policy/">
                        правил обработки персональных данных</a
                    >
                </b-form-checkbox>
            </b-col>
        </b-row>

        <b-row cols="12" class="mt-5">
            <b-col my="5">
                <h2>Сменить пароль</h2>
            </b-col>
        </b-row>
        <b-row cols="12">
            <b-col my="2">
                <b-form class="ws-user__profile_form">
                    <b-form-group
                        id="input-group-8"
                        label="Новый пароль"
                        label-for="input-8"
                        label-cols-sm="4"
                        content-cols-sm="5"
                        label-align-sm="right"
                    >
                        <b-form-input
                            id="input-8"
                            v-model="new_pass1"
                            type="password"
                        ></b-form-input>
                    </b-form-group>
                    <b-form-group
                        id="input-group-8"
                        label="Новый пароль (еще раз)"
                        label-for="input-8"
                        label-cols-sm="4"
                        content-cols-sm="5"
                        label-align-sm="right"
                    >
                        <b-form-input
                            id="input-8"
                            type="password"
                            v-model="new_pass2"
                        ></b-form-input>
                    </b-form-group>
                </b-form>
            </b-col>
        </b-row>

        <b-row>
            <b-col my="5" mt="5" class="mt-3">
                <b-button
                    type="submit"
                    variant="primary"
                    class="mx-1"
                    @click="updatePassword(new_pass1)"
                    :disabled="
                        new_pass1 === '' ||
                            new_pass1 === null ||
                            new_pass1 != new_pass2
                    "
                    >Обновить</b-button
                >
            </b-col>
        </b-row>

        <div v-show="Object.keys(authCerts).length != 0">
            <b-row cols="12" class="mt-5">
                <b-col my="5">
                    <h1>Прогресс образовательных программ</h1>
                </b-col>
            </b-row>
            <b-row>
                <b-col my="5">
                    <b-card
                        v-for="prog in authCerts"
                        :title="prog.name"
                        :key="prog.id"
                        class="mt-2"
                    >
                        <b-card
                            v-for="authCert in prog.auth_certs"
                            :key="authCert.id"
                            :title="
                                `${authCert.name} (${
                                    authCert.hours
                                } ${TimeToString(
                                    authCert.hours,
                                    'час',
                                    'часа',
                                    'часов'
                                )}) `
                            "
                            class="mt-1"
                            bg-variant="light"
                        >
                            <b-row>
                                <b-col sm="12" md="8">
                                    <b-progress
                                        :value="authCert.visited_hours"
                                        :max="authCert.hours"
                                        show-progress
                                        animated
                                    ></b-progress>
                                </b-col>
                                <b-col
                                    sm="12"
                                    md="4"
                                    v-if="!authCert.is_ready_to_issue"
                                >
                                    <p>
                                        {{ authCert.visited_hours }}
                                        {{
                                            TimeToString(
                                                authCert.visited_hours,
                                                "час",
                                                "часа",
                                                "часов"
                                            )
                                        }}
                                        из {{ authCert.hours }}
                                        {{
                                            TimeToString(
                                                authCert.hours,
                                                "час",
                                                "часа",
                                                "часов"
                                            )
                                        }}. Вам остается еще
                                        {{
                                            authCert.hours -
                                                authCert.visited_hours
                                        }}
                                        {{
                                            TimeToString(
                                                authCert.hours -
                                                    authCert.visited_hours,
                                                "час",
                                                "часа",
                                                "часов"
                                            )
                                        }}
                                        по программе для получения
                                        удостоверения.
                                    </p>
                                    <p>
                                        <router-link
                                            :to="{
                                                name: 'home',
                                                params: {
                                                    eduProgram:
                                                        authCert.edu_program.id,
                                                },
                                            }"
                                        >
                                            Посмотреть расписание ближайших
                                            вебинаров по программе
                                        </router-link>
                                    </p>
                                </b-col>
                                <b-col sm="12" md="4" v-else>
                                    <template v-if="authCert.paid_date">
                                        <b-list-group>
                                            <b-list-group-item
                                                class="d-flex justify-content-between align-items-center"
                                            >
                                                <b-icon
                                                    icon="check-square"
                                                    scale="2"
                                                    variant="success"
                                                ></b-icon>
                                                Доставка почтой оплачена
                                            </b-list-group-item>                                           
                                        </b-list-group>                                        
                                        
                                    </template>
                                    <template v-else>
                                        <b-button @click="openPayment(authCert)" variant="primary"
                                            >Оплатить услуги почтовой отправки
                                        </b-button>
                                    </template>
                                </b-col>
                            </b-row>
                        </b-card>
                    </b-card>
                </b-col>
            </b-row>
        </div>

        <!-- Попап платежной системы-->
        <b-modal id="payment" title="Оплатите товар" hide-footer ref="payment">
            <b-card
                title="Далее начнется операция оплаты картой"
                img-src="https://bankstoday.net/wp-content/uploads/2019/07/usnaya-karta-ot-gazprombaknka.jpg"
                img-alt="Image"
                img-top
                tag="article"
                style="max-width: 40rem;"
                class="mb-2"
            >
                <b-card-text>
                    Вы выбрали: <br />
                    <b-table
                        striped
                        hover
                        :items="[
                            {
                                Название: `Услуга почтовой отправки удостоверения ${
                                    ware_for_payment
                                        ? ware_for_payment.name
                                        : ''
                                }`,
                                'Итоговая стоимость, руб.':
                                    ware_for_payment.price,
                            },
                        ]"
                    ></b-table>
                </b-card-text>

                <b-button
                    href="#"
                    variant="primary"
                    v-b-modal.areyousure
                    class="webinar-form__button"
                    >Оплатить</b-button
                >

                <b-modal id="areyousure" title="Вы уверены?" hide-footer>
                    <b-button
                        variant="primary"
                        @click="buy(ware_for_payment.id)"
                        class="webinar-form__button"
                        :disabled="waiting_for_payment"
                        >Да</b-button
                    >
                    <b-button
                        variant="secondary"
                        @click="$bvModal.hide('areyousure')"
                        class="webinar-form__button"
                        >Нет</b-button
                    >
                    <b-overlay :show="waiting_for_payment" no-wrap></b-overlay>
                </b-modal>
            </b-card>
            <b-button
                variant="secondary"
                class="webinar-form__button"
                @click="$bvModal.hide('payment')"
                >Закрыть</b-button
            >
        </b-modal>
    </b-container>
</template>

<script>
import { authHeader } from "@/_helpers";
import { mapGetters } from "vuex";
import VuePhoneNumberInput from "vue-phone-number-input";
import "vue-phone-number-input/dist/vue-phone-number-input.css";

export default {
    name: "Profile",
    components: { VuePhoneNumberInput: VuePhoneNumberInput },
    computed: {
        ...mapGetters(["user"]),
    },
    data() {
        return {
            new_pass1: null,
            new_pass2: null,
            agreeWithPolicy: false,
            phoneIsValid: null,
            authCerts: {},
            waiting_for_payment: false,
            ware_for_payment: {},
        };
    },
    mounted() {
        const requestOptions = {
            method: "GET",
            headers: {
                ...authHeader(),
                "Content-Type": "application/json",
            },
        };
        fetch(`/api/log/auth_certs/`, requestOptions).then((response) => {
            response.json().then((data) => {
                this.authCerts = data.reduce((acc, value) => {
                    if (!acc[value.edu_program.id]) {
                        acc[value.edu_program.id] = {
                            name: value.edu_program.name,
                            auth_certs: [],
                        };
                    }
                    acc[value.edu_program.id]["auth_certs"].push(value);
                    return acc;
                }, {});
            });
        });
    },
    methods: {
        openPayment(ware) {
            this.ware_for_payment = ware;
            this.$refs["payment"].show();
        },
        buy(id) {
            this.waiting_for_payment = true;
            const requestOptions = {
                method: "POST",
                headers: {
                    ...authHeader(),
                    "Content-Type": "application/json",
                },
            };
            fetch(
                "/api/auth_cert/" + id + "/get_order_url/",
                requestOptions
            ).then((response) => {
                response.json().then((data) => {
                    // Получены данные для счета - перейдем к оплате
                    window.location.href = data.order_url;
                });
            });
        },
        phoneEdit(result) {
            this.phoneIsValid = result.isValid;
        },
        TimeToString(value, str1, str2, str5) {
            if (!value) return 0;
            const mod = value % 10;
            if (value % 100 >= 10 && value % 100 <= 19) return str5;
            if (mod == 1) return str1;
            if (mod >= 2 && mod <= 4) return str2;
            return str5;
        },
        update() {
            const requestOptions = {
                method: "PATCH",
                headers: {
                    ...authHeader(),
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(this.user),
            };

            return fetch(`/user/${this.user.id}/update/`, requestOptions).then(
                (response) => {
                    if (response.ok) {
                        this.makeOkToast("Профиль успешно обновлен");
                        const { dispatch } = this.$store;
                        dispatch("authentication/update", this.user);
                    } else {
                        this.makeErrorToast();
                    }
                }
            );
        },
        updatePassword(password) {
            const requestOptions = {
                method: "PATCH",
                headers: {
                    ...authHeader(),
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ id: this.user.id, password: password }),
            };

            return fetch(`/user/${this.user.id}/update/`, requestOptions).then(
                (response) => {
                    if (response.ok) {
                        this.makeOkToast("Пароль успешно обновлен");
                    } else {
                        this.makeErrorToast();
                    }
                }
            );
        },
        makeOkToast(text, append = false) {
            this.$bvToast.toast(text, {
                title: "Ok",
                autoHideDelay: 5000,
                appendToast: append,
                variant: "success",
                solid: true,
            });
        },
        makeErrorToast(append = false) {
            this.$bvToast.toast("Произошла ошибка, профиль не сохранен", {
                title: "Ошибка",
                autoHideDelay: 5000,
                appendToast: append,
                variant: "danger",
                solid: true,
            });
        },
    },
};
</script>

<style>
.ws-user__profile_form {
    text-align: left;
}
</style>
