{% extends 'admin/change_form.html' %}
{% load static %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row">
            <input type="submit" value="Предпросмотр" name="test">
    </div>
    <!-- <div>
        <h1>Предпросмотр:</h1>
        <img src="% static 'certs/examples/1.jpg' %}">
    </div> -->
{% endblock %}