<template>
  <div id="app-layout-login-form-only">
    <b-card>
      Layout Login Form Only content example
    </b-card>
    <LoginForm />
    

    <router-view />
  </div>
</template>

<script>
import Navigation from "@/components/global/Navigation.vue";
import LoginForm from "@/components/global/LoginForm.vue";
export default {
  name: 'MainLayout',
  components: {
    Navigation,
    LoginForm
  },
// created(){
//       this.$store.dispatch( 'loadCafes' );
//       this.$store.dispatch( 'loadUser' );
//     }
}
</script>

<style></style>
