<template>
    <div id="app-layout-main">
        <b-card
        bg-variant="light"
        >
            <Banners />
            <LoginForm />
            <Navigation />

            <router-view />
            <Projects />
        </b-card>
        <b-row>
            <b-col mx-3 my-1>
                <p>                 
                    <b-card-text v-html="footer">
                    </b-card-text>
                </p>
            </b-col>
        </b-row>
    </div>
</template>

<script>
import Banners from "@/components/global/Banners.vue";
import Projects from "@/components/global/Projects.vue";
import Navigation from "@/components/global/Navigation.vue";
import LoginForm from "@/components/global/LoginForm.vue";
export default {
    name: "MainLayout",
    components: {
        Banners,
        Navigation,
        LoginForm,
        Projects,
    },
    mounted() {
        fetch("/api/adjust/footer/", {
            method: "GET",
        }).then((response) => {
            response.json().then((data) => {
                this.footer = data.text;
            });
        });
    },
    data (){
        return {
            footer: null
        }
    }
};
</script>

<style></style>
