<template>
  <div id="app-layout">    
    <Navigation />
    <router-view />
  </div>
</template>

<script>
import Navigation from "@/components/global/Navigation.vue";
export default {
  name: 'MainLayout',
  components: {
    Navigation,
  },
// created(){
//       this.$store.dispatch( 'loadCafes' );
//       this.$store.dispatch( 'loadUser' );
//     }
}
</script>

<style></style>
