.navig__button[data-v-06497c8e]{margin-right:.2rem;margin-top:.2rem}h3[data-v-06497c8e]{margin:40px 0 0}ul[data-v-06497c8e]{list-style-type:none;padding:0}li[data-v-06497c8e]{display:inline-block;margin:0 10px}a[data-v-06497c8e]{color:#42b983}