<template>
  <div v-if="banners.length" class="banners">
    <b-row>
      <b-col cols="0" sm="0" md="12" v-for="banner in banners" :key="banner.id">
        <a :href="banner.link"><img :src="banner.image" class="img-fluid"/></a>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: "Banners",
  components: {
  },
  data(){
    return{
      banners:[]
    }
  },
  mounted(){
    fetch("/api/banner/", { method: "GET" }).then(
            (response) => {
                response.json().then((data) => {
                    this.banners = data;
                });
            }
        );
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.navig__button {
  margin-right: 0.2rem;
  margin-top: 0.2rem;
}
</style>
