<template>
  <div class="navigation">
    <div>
       

        <b-card-body class="text-center">
          <b-card-title>Наше главное меню</b-card-title>
          
          <router-link to="/" tag="div">
                    <b-button variant="primary" class="navig__button">
                        Главная
                    </b-button>          
          </router-link>
          <b-button variant="danger" class="navig__button" @click="$router.push({name: 'eduProgram'})">Программы повышения квалификации</b-button>
          <b-button variant="primary" class="navig__button" @click="$router.push('/pages/help/')">Инструкции и помощь</b-button>
          <b-button variant="primary" class="navig__button" @click="$router.push('/pages/materials/')">Методические материалы</b-button>

        </b-card-body>
    </div>
  </div>
</template>

<script>
export default {
  name: "Navigation",  
  components: {  
  },
  methods:{
  }  
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.navig__button{
  margin-right: 0.2rem;
  margin-top: 0.2rem;
}
</style>
