<template>
  <div v-if="projects.length" class="projects">
    <b-row>
      <b-col class="text-center" mt-3>
      <h3 >Наши проекты</h3>
      </b-col>
      <b-col
        cols="0"
        sm="0"
        md="12"
        v-for="project in projects"
        :key="project.id"
      >
        <a :href="project.link"
          ><img :src="project.image" class="img-fluid"
        /></a>
      </b-col>
    </b-row>        
  </div>  
</template>

<script>
export default {
  name: "Projects",
  components: {},
  data() {
    return {
      projects: [],
    };
  },
  mounted() {
    fetch("/api/project/", { method: "GET" }).then((response) => {
      response.json().then((data) => {
        this.projects = data;
      });
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.navig__button {
  margin-right: 0.2rem;
  margin-top: 0.2rem;
}
</style>
