<template>
    <b-card v-if="eduPrograms.length" align="left">
        <h3>Программы повышения квалификации</h3>

        <b-card
            v-for="prog in eduPrograms"
            :key="prog.id"            
            class="mt-3"
            :style="`background: ${prog.color};`"
        >
            <b-card-text>{{ prog.name }}</b-card-text>
            <b-button :href="prog.upload" variant="primary" class="webinar-form__button">Скачать</b-button>
            <b-button @click="$router.push({name: 'home', params: { eduProgram: prog.id,},})" class="webinar-form__button">Список вебинаров</b-button>            
        </b-card>
    </b-card>
</template>

<script>
export default {
    name: "EduProgram",
    data() {
        return {
            eduPrograms: [],
        };
    },
    mounted() {
        fetch("/api/edu_program/", {
            method: "GET",
        }).then((response) => {
            response.json().then((data) => {
                this.eduPrograms = data;
            });
        });
    },
    methods: {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.webinar-form__button {
    margin-right: 0.2rem;
    margin-top: 0.2rem;
}
</style>
