<template>
    <div class="home-page__root">        
        <b-card v-if="mainPage && !eduProgram" align="left" border-variant="warning">
            <b-card-text v-html="mainPage.text">
            </b-card-text>
            <b-button @click="$router.push('/pages/' + mainPage.slug + '/')" >
            Читать полностью
            </b-button>
        </b-card>
        <b-card v-if="categories.length" class="mt-2">
            <h3>Категории</h3>
            <b-button
                v-for="category in categories"
                v-bind:key="category.id"
                @click="set_filter(category.id)"
                class="category__btn"
                variant="outline-primary"
                :pressed="categories_statuses[category.id]"
            >
                {{ category.name }}
            </b-button>
        </b-card>
        <template v-if="eduProgram">
            <b-card class="mt-2" v-if="wares.length">
                <h3>Вебинары по образовательной программе</h3>
                <h2>
                    {{
                        wares[0].edu_program.filter(
                            (item) => item["id"] == eduProgram
                        )[0].name
                    }}
                </h2>
                <b-button variant="primary" @click="resetEduProgram"
                    >Посмотреть полный список</b-button
                >
            </b-card>
            <b-card v-else>
                К сожалению, по данной образовательной программе вебинаров пока
                нет.
                <b-button variant="primary" @click="resetEduProgram"
                    >Посмотреть полный список</b-button
                >
            </b-card>
        </template>
        <b-card v-for="ware in wares" :key="ware.id" class="mt-2">
            <b-row>
                <b-col sm="12">
                    <h2>{{ ware.name }}</h2>
                </b-col>
                <b-col sm="12" md="3">
                    <b-card
                        :title="ware.lector.name"
                        :img-src="ware.lector.photo"
                        img-alt="Image"
                        img-top
                        tag="article"
                        style="max-width: 20rem;"
                        class="mb-2"
                    >
                        <b-card-text v-html="ware.lector ? ware.lector.description : ''" class="text-left"> </b-card-text>
                    </b-card>
                </b-col>
                <b-col sm="12" md="8">
                    <div
                        class="webinar__description text-left"
                        v-html="ware.short_list_description"
                    ></div>
                </b-col>
            </b-row>
            <b-row align-h="end">
                <b-col>
                    <b-table-simple
                        hover
                        small
                        caption-top
                        responsive
                        class="mt-5 text-left"
                    >
                        <b-thead>
                            <b-tr>
                                <b-th>Вопрос</b-th>
                                <b-th>Ответ</b-th>
                            </b-tr>
                        </b-thead>
                        <b-tbody>
                            <b-tr>
                                <b-td>Статус:</b-td>
                                <b-td>Ожидается</b-td>
                            </b-tr>
                            <b-tr>
                                <b-td>Дата проведения:</b-td>
                                <b-td>{{
                                    formatDate(
                                        String(ware.start_date),
                                        "DD.MM.YYYY (dddd)"
                                    )
                                }}</b-td>
                            </b-tr>
                            <b-tr>
                                <b-td>Продолжительность:</b-td>
                                <b-td>{{ ware.time_description }}</b-td>
                            </b-tr>
                            <b-tr>
                                <b-td>Стоимость участия:</b-td>
                                <b-td>{{ ware.price }} руб.</b-td>
                            </b-tr>
                            <b-tr>
                                <b-td>Количество мест:</b-td>
                                <b-td>ограничено</b-td>
                            </b-tr>
                            <b-tr>
                                <b-td>Программа:</b-td>
                                <b-td>
                                    <b-card
                                        text-variant="black"
                                        class="text-left mt-2"
                                        v-for="edu_program in ware.edu_program"
                                        :key="edu_program.id"
                                        :style="
                                            `background: ${edu_program.color};`
                                        "
                                    >
                                        <b-card-text>{{
                                            edu_program.name
                                        }}</b-card-text>
                                    </b-card>
                                </b-td>
                            </b-tr>
                        </b-tbody>
                    </b-table-simple>
                </b-col>
            </b-row>
            <b-row align-h="end">
                <b-col sm="12" md="4" lg="3">
                    <router-link :to="/ware/ + ware.id" tag="div">
                        <b-button variant="primary">
                            Регистрация и оплата
                        </b-button>
                    </router-link>
                </b-col>
            </b-row>
        </b-card>
    </div>
</template>

<script>
import moment from "moment";
moment.locale("ru");
export default {
    name: "Home",
    props: {
        eduProgram: null,
    },
    data() {
        return {
            wares: [],
            categories: [],
            mainPage: null,
        };
    },
    mounted() {
        this.loadData();
    },
    computed: {
        categories_statuses() {
            let res = {};
            this.categories.map((item) => {
                res[item.id] = false;
            });
            return res;
        },
    },
    methods: {
        loadData() {
            let params = new URLSearchParams();
            if (this.eduProgram) {
                params.append("edu_program", this.eduProgram);
            }
            fetch("/api/ware/expecting/?" + params.toString(), {
                method: "GET",
            }).then((response) => {
                response.json().then((data) => {
                    this.wares = data;
                });
            });
            fetch("/api/category/expecting/?" + params.toString(), {
                method: "GET",
            }).then((response) => {
                response.json().then((data) => {
                    this.categories = data;
                });
            });
            fetch("/api/page/main/", {
                method: "GET",
            }).then((response) => {
                response.json().then((data) => {
                    this.mainPage = data;
                });
            });
        },
        set_filter(id) {
            this.categories_statuses[id] = !this.categories_statuses[id];
            let params = new URLSearchParams();
            if (this.eduProgram) {
                params.append("edu_program", this.eduProgram);
            }
            for (let [key, value] of Object.entries(this.categories_statuses)) {
                if (value) {
                    params.append("category", key);
                }
            }
            fetch("/api/ware/expecting/?" + params.toString(), {
                method: "GET",
            }).then((response) => {
                response.json().then((data) => {
                    this.wares = data;
                });
            });
        },
        formatDate(date, formatstring) {
            return moment(String(date)).format(formatstring);
        },
        resetEduProgram() {
            this.eduProgram = null;
            this.loadData();
        },
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.webinar-form__button {
    margin-right: 0.2rem;
    margin-top: 0.2rem;
}

.category__btn {
    margin-right: 0.2rem;
    margin-top: 0.2rem;
}
</style>
