<template>
    <b-card v-if="page" align="left"
>        
            <b-card-text v-html="page.text">
            </b-card-text>
    </b-card>
</template>

<script>
export default {
    name: "Page",
    data() {
        return {
            page: {},
            slugs: {},
        };
    },
    mounted() {
        fetch("/api/page/" + this.$route.params.slug + "/", {
            method: "GET",
        }).then((response) => {
            response.json().then((data) => {
                this.page = data;
            });
        });
    },
    methods: {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.webinar-form__button {
    margin-right: 0.2rem;
    margin-top: 0.2rem;
}

.category__btn {
    margin-right: 0.2rem;
    margin-top: 0.2rem;
}
</style>
