<template>
  <div class="home-page__root">
    <b-card>
      <b-row>
        <b-col sm="12">
          <h2>{{ ware.name }}</h2>
        </b-col>
        <b-col sm="12" md="3">
          <b-card :title="ware.lector ? ware.lector.name : ''" :img-src="ware.lector ? ware.lector.photo : ''" img-alt="Image" img-top tag="article" style="max-width: 20rem;" class="mb-2">
            <b-card-text v-html="ware.lector ? ware.lector.description : ''" class="text-left"> </b-card-text>
          </b-card>
        </b-col>
        <b-col sm="12" md="8">
          <!-- <h6 class="webinar__before">Приглашаем вас принять участие в вебинаре</h6>
                  <h2>{{ware.name}}</h2> -->
          <div class="webinar__description text-left" v-html="ware.short_list_description"></div>
        </b-col>
      </b-row>
      <b-row align-h="end">
        <b-col>
          <b-table-simple hover small caption-top responsive class="mt-5 text-left">
            <b-thead>
              <b-tr>
                <b-th>Вопрос</b-th>
                <b-th>Ответ</b-th>
              </b-tr>
            </b-thead>
            <b-tbody>
              <b-tr>
                <b-td>Статус:</b-td>
                <b-td>Ожидается</b-td>
              </b-tr>
              <b-tr>
                <b-td>Дата проведения:</b-td>
                <b-td>{{ formatDate(String(ware.start_date), "DD.MM.YYYY (dddd)") }}</b-td>
              </b-tr>
              <b-tr>
                <b-td>Продолжительность:</b-td>
                <b-td>{{ ware.time_description }}</b-td>
              </b-tr>
              <b-tr>
                <b-td>Стоимость участия:</b-td>
                <b-td>{{ ware.price }} руб.</b-td>
              </b-tr>
              <b-tr>
                <b-td>Количество мест:</b-td>
                <b-td>ограничено</b-td>
              </b-tr>
              <b-tr>
                <b-td>Программа:</b-td>
                <b-td>
                  <b-card text-variant="black" class="text-left mt-2" v-for="edu_program in ware.edu_program" :key="edu_program.id" :style="`background: ${edu_program.color};`">
                    <b-card-text>{{ edu_program.name }}</b-card-text>
                  </b-card>
                </b-td>
              </b-tr>
            </b-tbody>
          </b-table-simple>
        </b-col>
      </b-row>
      <b-row align-h="end">
        <b-col sm="12" md="4" lg="3">
          <b-button variant="primary" class="webinar-form__button" v-b-modal.payment>Создать заявку и оплатить {{ ware.price }} рублей</b-button>
        </b-col>
      </b-row>

      <!-- Попап платежной системы-->
      <b-modal id="payment" title="Оплатите товар" hide-footer>
        <b-card
          v-if="loggedIn"
          title="Далее начнется операция оплаты картой"
          img-src="https://bankstoday.net/wp-content/uploads/2019/07/usnaya-karta-ot-gazprombaknka.jpg"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 40rem;"
          class="mb-2"
        >
          <b-card-text>
            Вы выбрали: <br />
            <b-table
              striped
              hover
              :items="[
                {
                  Название: ware ? ware.name : '',
                  'Итоговая стоимость, руб.': total,
                },
              ]"
            ></b-table>
            <b-row>
              <b-col>
                <b-form-input v-model="promoCodeText" placeholder="Введите промокод " :state="validCode" @keydown.enter.native="promoCodeRequest" @keydown.native="invalidCode = false"></b-form-input>
                <b-form-invalid-feedback>
                  Неверный код
                </b-form-invalid-feedback>
              </b-col>
              <b-col>
                <b-button pill variant="primary" @click="promoCodeRequest">Использовать</b-button>
              </b-col>
            </b-row>
          </b-card-text>

          <b-button href="#" variant="primary" v-b-modal.areyousure class="webinar-form__button">Оплатить</b-button>

          <b-modal id="areyousure" title="Вы уверены?" hide-footer>
            <b-button variant="primary" @click="buy(ware.id)" class="webinar-form__button" :disabled="waiting_for_payment">Да</b-button>
            <b-button variant="secondary" @click="$bvModal.hide('areyousure')" class="webinar-form__button">Нет</b-button>
            <b-overlay :show="waiting_for_payment" no-wrap></b-overlay>
          </b-modal>
        </b-card>
        <b-form v-else>
          <p>
            Для принятия оплаты мы должны зарегистрировать Вас в нашей системе.
          </p>
          <p>
            Для этого введите вашу электронную почту и мы вышлем вам ссылку.
          </p>
          <b-form inline>
            <label class="sr-only" for="inline-form-input-username">Электронная почта</label>
            <b-input-group prepend="@" class="mb-2 mr-sm-2 mb-sm-0">
              <b-form-input id="inline-form-input-username" placeholder="Электронная почта" v-model="email"></b-form-input>
            </b-input-group>
            <b-button class="webinar-form__button mt-3" block variant="primary" @click="handleRecoverAndRedirect()" :disabled="recovering || !email">Отправить</b-button>
            <p v-show="recovering">
              На ваш емэйл была отправлена ссылка с переходом на страницу оплаты
            </p>
          </b-form>
        </b-form>
        <b-button variant="secondary" class="webinar-form__button" @click="$bvModal.hide('payment')">Закрыть</b-button>
      </b-modal>
    </b-card>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { authHeader } from "@/_helpers";
import moment from "moment";
moment.locale("ru");
export default {
  name: "Ware",
  computed: {
    ...mapGetters(["loggedIn", "user"]),
  },
  data() {
    return {
      ware: {},
      email: "",
      recovering: false,
      promoCode: null,
      promoCodeText: "",
      validCode: null,
      total: 0,
      waiting_for_payment: false,
    };
  },
  mounted() {
    fetch("/api/ware/" + this.$route.params.id, { method: "GET" }).then((response) => {
      response.json().then((data) => {
        this.ware = data;
        this.total = data.price;
      });
    });
  },
  methods: {
    formatDate(date, formatstring) {
      return moment(String(date)).format(formatstring);
    },
    handleRecoverAndRedirect() {
      this.recovering = true;
      const { email } = this;
      if (email) {
        const requestOptions = {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            email: email,
            redirect: this.$route.path,
          }),
        };
        fetch(`/user/recover_or_create/`, requestOptions);
      }
    },
    buy(id) {
      this.waiting_for_payment = true;
      const requestOptions = {
        method: "POST",
        headers: { ...authHeader(), "Content-Type": "application/json" },
        body: JSON.stringify({
          promoCode: this.promoCode ? this.promoCode.slug : null,
        }),
      };
      fetch("/api/ware/" + id + "/get_order_url/", requestOptions).then((response) => {
        response.json().then((data) => {
          // Получены данные для счета - перейдем к оплате
          window.location.href = data.order_url;
        });
      });
    },
    promoCodeRequest() {
      const requestOptions = {
        method: "GET",
        headers: { ...authHeader(), "Content-Type": "application/json" },
      };
      fetch("/api/promocode/" + this.promoCodeText + "?ware=" + this.ware.id, requestOptions).then((response) => {
        if (response.ok) {
          response.json().then((data) => {
            // Получены данные промокода
            this.promoCode = data;
            this.validCode = true;
            this.total = data.price;
          });
        } else {
          this.validCode = false;
          this.promoCode = null;
          this.total = this.ware.price;
        }
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.webinar-form__button {
  margin-right: 0.2rem;
  margin-top: 0.2rem;
}
</style>
